.tableHeader th {
	font-weight: bold;
	color: black;
}

.logout {
	display: flex;
	align-items: center;
	color: rgb(161, 161, 161);
	position: absolute;
	bottom: 30px;
}

.logoutCollapse{
    display: none;
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgb(31, 31, 109);
    padding: 10px !important;
}

@media (max-width: 767.98px) {
    .logout{
        display: none;
    }
    .logoutCollapse{
        display: block;
    }
}
.red-tile {
    background-color: red !important;
    color: white !important;
  }